- load compress
!!! 5
%html{'lang':'en'}
  %head
    %meta{'charset':'utf-8'}
    %meta{'http-equiv':'X-UA-Compatible','content':'IE=edge,chrome=1'}
    %title
      - block page_title 
        = _("Title Page") 

    %meta{'name':"description", 'content':"{% block meta_description %}{% endblock %}"}
    %meta{'name':"author", 'content':"{% block meta_author %}{% endblock %}"}

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    %meta{'name':"viewport", 'content':"width=device-width"}

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    %link{'rel':"stylesheet", 'href':"http://code.jquery.com/mobile/1.2.0-alpha.1/jquery.mobile-1.2.0-alpha.1.min.css"}/
    %script{'src':"http://code.jquery.com/jquery-1.7.1.min.js"}
    %script{'src':"http://code.jquery.com/mobile/1.2.0-alpha.1/jquery.mobile-1.2.0-alpha.1.min.js"}

    
    - compress css 
      %link{'rel':"stylesheet", 'href':"={PROJECT_ROOT}sass/project_name.scss"}/


  %body.={% block body_class %}{% endblock %}
    - block body
      #main
        - block content
    %footer 
